@model AspNetCoreMvcSqlSvr.Models.Shohin

@{
    ViewData["Title"] = "詳細表示";
}

<h1>詳細表示</h1>

<div>
    <h4>商品</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShohinCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShohinCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShohinName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShohinName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NumId">編集</a> |
    <a asp-action="Index">リストに戻る</a>
</div>